.TextBox {
    resize: none;
    width: 100%;
    text-align: center;
}

.TextBox__textarea {
    resize: none;
    width: 80%;
    height: 150px;
    text-align: right;
    font-size: 3vw;
    padding: 15px;
}

@media screen and (max-device-width: 640px) {
    .TextBox__textarea {
        font-size: 8vw;
    }
}