.FontSelector {
    text-align: center;
    font-size: 1.5vw;
}

.FontSelector__select {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.5vw;
}

.FontSelector__label {
    margin: 0 10px;
}

.FontSelector__note {
    text-align: center;
    margin: 0;
    font-size: 1.25vw;
    letter-spacing: 0.1vw;
}

@media screen and (max-device-width: 640px){
    .FontSelector__note {
        font-size: unset;
    }

    .FontSelector__select {
        font-size: unset;
    }

    .FontSelector {
        font-size: unset;
    }
}