.KeyBoard {
    width: 100%;
    text-align: center;
}

.KeyBoard__list {
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-device-width: 640px){
    .KeyBoard__list {
        width: 95%;
    }
}