body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #062F07;
  color: white;
}

a {
  color: white;
}

@font-face {
  font-family: 'Al-Kanz';
  src: url('./static/fonts/Al-Kanz.ttf');
}

@font-face {
  font-family: 'Kanz-al-Marjaan';
  src: url('./static/fonts/kanz-al-marjaan.ttf');
}

@font-face {
  font-family: 'bawaji94';
  src: url('./static/fonts/bawaji94.ttf');
}

.Al-Kanz {
  font-family: Al-Kanz, serif;
}

.Kanz-al-Marjaan {
  font-family: Kanz-al-Marjaan, serif;
}

.bawaji94 {
  font-family: bawaji94, serif;
}
