.Key {
    font-size: 2vw;
    height: 3.75vw;
    width: 3.75vw;
    text-align: center;
    margin: 7px;
    background-color: #730504;
    border: 0;
    color: #fff;
    border-radius: 1rem;
    cursor: pointer;
}

@media screen and (max-device-width: 640px){
    .Key {
        margin: 3px;
        font-size: 4vw;
        height: 6.5vw;
        width: 6.5vw;
        border-radius: 0.5rem;
    }
}

.Key:focus {outline: 0}

.Key:hover {background-color: #590303}

.button:active {background-color: #400202}